OEAMDB_WEB_VERSION=${OEAMDB_WEB_VERSION:-unknown}
OEAMDB_WEB_GIT_SHA=${OEAMDB_WEB_GIT_SHA:-unknown}
OEAMDB_WEB_IMAGE_TAG=${OEAMDB_WEB_VERSION}_${OEAMDB_WEB_GIT_SHA}

OEAMDB_WEB_POSTGRES_ADMIN=oeamdb_admin
OEAMDB_WEB_POSTGRES_USER=oeamdb_user
OEAMDB_WEB_POSTGRES_PASSWORD=
OEAMDB_WEB_POSTGRES_ADMIN_PASSWORD=
OEAMDB_WEB_POSTGRES_DB=oeamdb

OEAMDB_WEB_DATAFOLDER=$HOME/.oeamdb_data

CHEMBL_VERSION=latest

OEAMDB_BIND_HOST=127.0.0.1
OEAMDB_DEVBIND_HOST=127.0.0.1
OEAMDB_POSTGRES_PORT=5432
OEAMDB_DEVAPI_PORT=8000
OEAMDB_API_PORT=443
OEAMDB_WEB_DEVAPI_BIND=${OEAMDB_DEVBIND_HOST}:${OEAMDB_DEVAPI_PORT}
OEAMDB_WEB_API_BIND=${OEAMDB_BIND_HOST}:${OEAMDB_API_PORT}
OEAMDB_WEB_DB_BIND=${OEAMDB_BIND_HOST}:${OEAMDB_POSTGRES_PORT}

OEAMDB_WEB_SCRIPTNAME=oeamdb_script.py

OEAMDB_WEB_CONCURRENCY=1

OEAMDB_DOMAIN=localhost
OEAMDB_TLS_KEY=./certs/privkey.pem
OEAMDB_TLS_CERT=./certs/fullchain.pem


# Uncomment for dev mode
# COMPOSE_FILE=docker-compose.yml:compose.override.dev.yml
